* {
  font-family: "Roboto", sans-serif;
  color: white;
}

body {
  background-color: rgb(41, 117, 161);
}

.header {
  border-bottom: 6px solid rgb(30, 105, 148);
  text-align: center;
  font-size: 64px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.output-panel {
  position: relative;
  top: -1000px;
  left: 0;
  transition: top 0.5s ease;
  text-align: center;
}

.output {
  font-size: 64px;
  margin-top: 300px;
}

.next-button {
  font-size: 45px;
  margin-top: 60px;
  padding: 10px 30px;
}

.button-bottom-right {
  position: fixed;
  right: 40px;
  bottom: 40px;
}

.input-panel {
  text-align: center;
  display: none;
}

.input {
  color: black;
  margin-top: 20px;
  font-size: 40px;
  width: 800px;
  height: 100px;
  padding: 4px;
}

.submit-button {
  font-size: 45px;
  margin-top: -16px;
  margin-left: 8px;
  padding: 18px 30px;
  background-color: gray;
  border: none;
  transition: background-color 0.5s ease;
}

.link-box {
  position: absolute;
  background-color: white;
  left: 30%;
  right: 30%;
  margin-top: 40px;
  height: 250px;
  border-radius: 6px;
  color: black;
}

.link-box .loading {
  margin-top: 110px;
  color: black;
}

.link-box .title {
  text-align: left;
  margin-left: 250px;
  margin-top: 28px;
  font-size: 30px;
  color: black;
}

.link-box .url {
  color: rgb(97, 97, 97);
  text-align: left;
  margin-left: 250px;
  font-size: 18px;
}

.link-box .description {
  color: black;
  text-align: left;
  margin-left: 250px;
  margin-top: 10px;
  padding-right: 40px;
}

.link-box .screenshot {
  position: absolute;
  width: 220px;
  height: 123px;
  top: 30px;
  left: 20px;
}

.link-box .response {
  color: black;
  margin-top: 90px;
  font-size: 30px;
}
